settings.*.php

# Ignore sass caching
.sass-cache

# Ignore paths that contain user-generated content.
files_public/*
files_private/*
!files_public/README.txt
!files_private/README.txt

# Ignore project file settings
project/studioone.sublime-workspace

# Ignore the admin& notes  folders
admin/*
notes/*

#Ignore folders created by studioone hosting
.ftpquota
docroot/error_log

