/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
  position: relative;
}
/* line 13, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 16, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 19, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 22, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 25, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}
/* line 27, ../sass/blocks.scss */
.block p {
  margin: 0;
}

/* line 32, ../sass/blocks.scss */
.tag-lines {
  font-size: 20px;
  font-weight: lighter;
}
/* line 36, ../sass/blocks.scss */
.tag-lines .stripe {
  background: #000;
  color: #fff;
  padding: 4px 0;
  margin-bottom: 5px;
}
/* line 42, ../sass/blocks.scss */
.tag-lines .stripe span {
  color: #0080b2;
}
/* line 47, ../sass/blocks.scss */
.tag-lines .sub-stripe {
  text-transform: uppercase;
}

/* line 52, ../sass/blocks.scss */
.connect {
  background-color: #fff;
  border: 1px solid #efefef;
  color: #aaa;
  text-transform: uppercase;
  display: inline-block;
  float: right;
  margin-left: 10px;
  padding: 10px 10px 0 10px;
  clear: left;
}
/* line 65, ../sass/blocks.scss */
.connect a.linkedin,
.connect a.twitter,
.connect a.facebook {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 24px;
  height: 24px;
  background: url(../images/icons_sprite.png) no-repeat;
  text-indent: 100%;
  overflow: hidden;
  margin: 3px 0;
}
/* line 76, ../sass/blocks.scss */
.connect a.linkedin {
  background-position: 0 0;
}
/* line 79, ../sass/blocks.scss */
.connect a.twitter {
  background-position: -24px 0;
}
/* line 82, ../sass/blocks.scss */
.connect a.facebook {
  background-position: -48px 0;
}

/* line 87, ../sass/blocks.scss */
.international-capabilities {
  background: black url(../images/globe_bg.png) left bottom no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 91, ../sass/blocks.scss */
.international-capabilities p > a {
  color: #fff;
  display: block;
  padding: 10px 5px;
  text-align: center;
}

/* line 101, ../sass/blocks.scss */
.marketers-teaser .block-title,
.publishers-teaser .block-title {
  background: left bottom no-repeat;
  border-bottom: 5px solid #f5f5f5;
  font-size: 36px;
  font-weight: lighter;
  line-height: 36px;
  margin: 0 0 5px 0;
  padding-left: 50px;
  padding-top: 18px;
  position: relative;
}
/* line 112, ../sass/blocks.scss */
.marketers-teaser a,
.publishers-teaser a {
  display: block;
  margin-top: 10px;
}
/* line 116, ../sass/blocks.scss */
.front .marketers-teaser, .front
.publishers-teaser {
  width: 48%;
  float: left;
}

/* line 122, ../sass/blocks.scss */
.marketers-teaser .block-title {
  background-image: url(../images/m_pin.png);
}
/* line 125, ../sass/blocks.scss */
.front .marketers-teaser {
  margin-right: 4%;
}

/* line 130, ../sass/blocks.scss */
.publishers-teaser .block-title {
  background-image: url(../images/p_pin.png);
}

/* line 135, ../sass/blocks.scss */
.team-photos {
  padding-top: 3em;
}
/* line 138, ../sass/blocks.scss */
.team-photos .field-item {
  border: 4px solid #fff;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 2px;
}
/* line 144, ../sass/blocks.scss */
.team-photos .field-item:nth-child(odd) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  left: 10px;
}
/* line 148, ../sass/blocks.scss */
.team-photos .field-item:nth-child(even) {
  right: 10px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 154, ../sass/blocks.scss */
#block-views-quotes-random-quote {
  background: #f5f5f5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}
/* line 159, ../sass/blocks.scss */
#block-views-quotes-random-quote .quote {
  color: #0080b2;
  font-size: 40px;
  font-weight: bold;
  left: -5px;
  position: absolute;
  top: 5px;
}
/* line 167, ../sass/blocks.scss */
#block-views-quotes-random-quote .field-name-body {
  padding-left: 1em;
}
/* line 170, ../sass/blocks.scss */
#block-views-quotes-random-quote .field-name-field-attribution {
  color: #999;
  margin-top: 10px;
  text-align: right;
}

/* line 177, ../sass/blocks.scss */
#block-views-featured-items-block {
  font-size: 18.4px;
  line-height: 25.6px;
  margin-bottom: 0;
}
/* line 182, ../sass/blocks.scss */
#block-views-featured-items-block .group-left {
  width: 23%;
  padding-right: 2%;
}
/* line 186, ../sass/blocks.scss */
#block-views-featured-items-block .group-right {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  max-height: 350px;
  width: 75%;
  z-index: 1;
}
/* line 192, ../sass/blocks.scss */
#block-views-featured-items-block h2 {
  font-weight: normal;
  line-height: 1em;
  margin: 1em 0 .5em 0;
}
/* line 197, ../sass/blocks.scss */
#block-views-featured-items-block img {
  z-index: -1;
  position: relative;
}
/* line 202, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager {
  background: url("../images/featured_items_arrow.png") no-repeat right center;
  bottom: 15px;
  color: #fff;
  font-size: 48px;
  padding-right: 30px;
  position: absolute;
  right: 15px;
  z-index: 100;
}
/* line 212, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item {
  cursor: pointer;
  display: inline-block;
  margin: 0 -6px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
/* line 218, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item a {
  display: none;
}
/* line 221, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item.active {
  color: #0080b2;
}
/* line 224, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item:before {
  content: "•";
}

/* line 230, ../sass/blocks.scss */
.featured-project-examples {
  clear: both;
}
/* line 233, ../sass/blocks.scss */
.featured-project-examples h2 {
  display: none;
}
/* line 237, ../sass/blocks.scss */
.featured-project-examples .view {
  display: relative;
}
/* line 241, ../sass/blocks.scss */
.featured-project-examples .view-content {
  padding: 0 20px;
  clear: left;
}
/* line 246, ../sass/blocks.scss */
.featured-project-examples .views-row {
  border: 5px solid #f5f5f5;
  float: left;
  margin: 7px;
  width: 180px;
  height: 205px;
}
/* line 256, ../sass/blocks.scss */
.featured-project-examples .pager .pager-previous a,
.featured-project-examples .pager .pager-next a {
  background: url("../images/project_example_arrows.png") no-repeat;
  display: inline-block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 90px;
  width: 18px;
}
/* line 266, ../sass/blocks.scss */
.featured-project-examples .pager .pager-previous a {
  background-position: 0 0;
  left: 0;
}
/* line 270, ../sass/blocks.scss */
.featured-project-examples .pager .pager-previous a:hover {
  background-position: -36px 0;
}
/* line 273, ../sass/blocks.scss */
.featured-project-examples .pager .pager-next a {
  background-position: -18px 0;
  right: 0;
}
/* line 277, ../sass/blocks.scss */
.featured-project-examples .pager .pager-next a:hover {
  background-position: -54px 0;
}
/* line 281, ../sass/blocks.scss */
.featured-project-examples .pager .pager-current,
.featured-project-examples .pager .throbber {
  display: none;
}

/* line 288, ../sass/blocks.scss */
.certifications .group-left {
  width: 25%;
}
/* line 291, ../sass/blocks.scss */
.certifications .group-right {
  width: 75%;
}
/* line 294, ../sass/blocks.scss */
.certifications h2 {
  color: #999;
  margin: 0 0 .5em 0;
}
