/**
 * @file
 * Block Styling
 */
/* line 9, ../sass/blocks.scss */
.block {
  /* Block wrapper */
  margin-bottom: 1.5em;
  position: relative;
}
/* line 13, ../sass/blocks.scss */
.block.first {
  /* The first block in the region */
}
/* line 16, ../sass/blocks.scss */
.block.last {
  /* The last block in the region */
}
/* line 19, ../sass/blocks.scss */
.block.odd {
  /* Zebra striping for each block in the region */
}
/* line 22, ../sass/blocks.scss */
.block.even {
  /* Zebra striping for each block in the region */
}
/* line 25, ../sass/blocks.scss */
.block h2.block-title {
  /* Block title */
}
/* line 27, ../sass/blocks.scss */
.block p {
  margin: 0;
}

/* line 32, ../sass/blocks.scss */
.tag-lines {
  font-size: 20px;
  font-weight: lighter;
}
/* line 36, ../sass/blocks.scss */
.tag-lines .stripe {
  background: #000;
  color: #fff;
  padding: 4px 0;
  margin-bottom: 5px;
}
/* line 42, ../sass/blocks.scss */
.tag-lines .stripe span {
  color: #0080b2;
}
/* line 47, ../sass/blocks.scss */
.tag-lines .sub-stripe {
  text-transform: uppercase;
}

/* line 52, ../sass/blocks.scss */
.connect {
  background-color: #fff;
  border: 1px solid #efefef;
  color: #aaa;
  text-transform: uppercase;
  display: inline-block;
  float: right;
  margin-left: 10px;
  padding: 10px 10px 0 10px;
  clear: left;
}
/* line 65, ../sass/blocks.scss */
.connect a.linkedin,
.connect a.twitter,
.connect a.facebook {
  display: inline-block;
  position: relative;
  top: -5px;
  width: 24px;
  height: 24px;
  background: url(../images/icons_sprite.png) no-repeat;
  text-indent: 100%;
  overflow: hidden;
  margin: 3px 0;
}
/* line 76, ../sass/blocks.scss */
.connect a.twitter {
  background-position: 0 0;
}
/* line 79, ../sass/blocks.scss */
.connect a.linkedin {
  background-position: -24px 0;
}
/* line 82, ../sass/blocks.scss */
.connect a.facebook {
  background-position: -48px 0;
}

/* line 87, ../sass/blocks.scss */
.global-services {
  background: url(../images/Global_Capabilities.png);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 75px;
}
/* line 92, ../sass/blocks.scss */
.global-services .messaging {
  color: #333;
  display: block;
  padding: 10px 5px;
  text-align: center;
}

/* line 99, ../sass/blocks.scss */
.press-contact {
  background-color: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  padding: 10px 5px;
  font-size: 14px;
  text-align: center;
}
/* line 107, ../sass/blocks.scss */
.press-contact a {
  color: #0080b2;
}

/* line 114, ../sass/blocks.scss */
.marketers-teaser .block-title,
.publishers-teaser .block-title {
  background: left bottom no-repeat;
  border-bottom: 5px solid whitesmoke;
  font-size: 36px;
  font-weight: lighter;
  line-height: 36px;
  margin: 0 0 5px 0;
  padding-left: 50px;
  padding-top: 18px;
  position: relative;
}
/* line 125, ../sass/blocks.scss */
.marketers-teaser a,
.publishers-teaser a {
  display: block;
  margin-top: 10px;
}

/* line 131, ../sass/blocks.scss */
.marketers-teaser .block-title {
  background-image: url(../images/m_pin.png);
}

/* line 136, ../sass/blocks.scss */
.publishers-teaser .block-title {
  background-image: url(../images/p_pin.png);
}

@media all and (min-width: 640px) {
  /* line 143, ../sass/blocks.scss */
  .front .marketers-teaser, .front
  .publishers-teaser {
    width: 48%;
    float: left;
  }

  /* line 149, ../sass/blocks.scss */
  .front .marketers-teaser {
    margin-right: 4%;
    margin-bottom: 40px;
  }
}
/* line 157, ../sass/blocks.scss */
.team-photos {
  padding-top: 3em;
}
/* line 160, ../sass/blocks.scss */
.team-photos .field-item {
  border: 4px solid #fff;
  position: relative;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 2px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 2px;
}
/* line 166, ../sass/blocks.scss */
.team-photos .field-item:nth-child(odd) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  left: 10px;
}
/* line 170, ../sass/blocks.scss */
.team-photos .field-item:nth-child(even) {
  right: 10px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* line 177, ../sass/blocks.scss */
#block-views-team-members-team-members .grouping-title {
  margin: 0;
}
/* line 180, ../sass/blocks.scss */
#block-views-team-members-team-members #edit-field-team-member-type-tid {
  width: 250px;
}
/* line 183, ../sass/blocks.scss */
#block-views-team-members-team-members .views-row {
  margin-bottom: 1em;
}
/* line 186, ../sass/blocks.scss */
#block-views-team-members-team-members .group-left {
  display: none;
  padding-top: 10px;
  width: 25%;
}
/* line 191, ../sass/blocks.scss */
#block-views-team-members-team-members .group-left img {
  border: 5px solid whitesmoke;
  width: 90%;
}
/* line 196, ../sass/blocks.scss */
#block-views-team-members-team-members .group-right {
  width: 100%;
}
/* line 199, ../sass/blocks.scss */
#block-views-team-members-team-members .group-right h2 {
  color: #0080b2;
  display: inline-block;
  margin: 0;
}
/* line 205, ../sass/blocks.scss */
#block-views-team-members-team-members .group-right .field-name-field-job-title {
  color: #999;
  display: inline-block;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: .5em;
}

/* line 215, ../sass/blocks.scss */
#block-views-quotes-random-quote {
  background: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
}
/* line 220, ../sass/blocks.scss */
#block-views-quotes-random-quote .quote {
  color: whitesmoke;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
}
/* line 226, ../sass/blocks.scss */
#block-views-quotes-random-quote .left-quote {
  top: 5px;
  left: -5px;
}
/* line 230, ../sass/blocks.scss */
#block-views-quotes-random-quote .right-quote {
  bottom: 0.7em;
  right: 0;
}
/* line 234, ../sass/blocks.scss */
#block-views-quotes-random-quote .block-title {
  font-size: 1em;
  line-height: 1.25em;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px inset #d6d6d6;
}
/* line 241, ../sass/blocks.scss */
#block-views-quotes-random-quote .field-name-body {
  padding-left: 1em;
}
/* line 244, ../sass/blocks.scss */
#block-views-quotes-random-quote .field-name-field-attribution {
  color: #999;
  margin-top: 10px;
  text-align: right;
}
/* line 249, ../sass/blocks.scss */
#block-views-quotes-random-quote .field-name-field-logo-attribution {
  text-align: right;
}

/* line 254, ../sass/blocks.scss */
#block-views-featured-items-block {
  font-size: 18.4px;
  line-height: 25.6px;
  margin-bottom: 0;
}
/* line 259, ../sass/blocks.scss */
#block-views-featured-items-block .group-left {
  width: 100%;
  font-size: 15px;
  padding-right: 2%;
  padding-bottom: 1em;
}
/* line 265, ../sass/blocks.scss */
#block-views-featured-items-block .group-left p {
  padding-top: 1em;
}
/* line 268, ../sass/blocks.scss */
#block-views-featured-items-block .group-left h2 + p {
  padding-top: 0;
}
/* line 271, ../sass/blocks.scss */
#block-views-featured-items-block .group-right {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  max-height: 350px;
  width: 100%;
  z-index: 1;
}
/* line 277, ../sass/blocks.scss */
#block-views-featured-items-block h2 {
  font-weight: normal;
  font-size: 1em;
  line-height: 1em;
  margin: 1em 0 5px 0;
}
/* line 283, ../sass/blocks.scss */
#block-views-featured-items-block img {
  /*z-index: -1;*/
  position: relative;
}
/* line 288, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager {
  background: url("../images/featured_items_arrow.png") no-repeat right center;
  bottom: 15px;
  color: #fff;
  font-size: 48px;
  line-height: 40px;
  padding-right: 35px;
  position: absolute;
  right: 15px;
  z-index: 100;
}
/* line 299, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item {
  cursor: pointer;
  display: inline-block;
  margin: 0 -6px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 10px;
}
/* line 305, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item a {
  display: none;
}
/* line 308, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item.active {
  color: #0080b2;
}
/* line 311, ../sass/blocks.scss */
#block-views-featured-items-block .views-slideshow-simple-pager .views-slideshow-pager-field-item:before {
  content: "•";
}

@media all and (min-width: 640px) and (max-width: 959px) {
  /* line 318, ../sass/blocks.scss */
  #block-views-featured-items-block .group-left {
    width: 38%;
    font-size: 17px;
    padding-bottom: 0;
  }
  /* line 323, ../sass/blocks.scss */
  #block-views-featured-items-block .group-right {
    width: 60%;
  }
}
@media all and (min-width: 960px) {
  /* line 330, ../sass/blocks.scss */
  #block-views-featured-items-block .group-left {
    width: 23%;
    font-size: 17px;
    padding-bottom: 0;
  }
  /* line 335, ../sass/blocks.scss */
  #block-views-featured-items-block .group-right {
    width: 75%;
  }
}
/* line 341, ../sass/blocks.scss */
.featured-project-examples {
  clear: both;
}
/* line 344, ../sass/blocks.scss */
.featured-project-examples h2 {
  display: none;
}
/* line 348, ../sass/blocks.scss */
.featured-project-examples .view {
  position: relative;
  max-width: 645px;
  width: 100%;
  height: 225px;
  overflow: hidden;
}
/* line 356, ../sass/blocks.scss */
.featured-project-examples .view-content {
  position: relative;
  padding: 0 20px;
  clear: left;
  transition: left 2s;
}
/* line 363, ../sass/blocks.scss */
.featured-project-examples .views-row {
  border: 5px solid whitesmoke;
  float: left;
  margin: 6px;
  width: 180px;
  height: 205px;
}
/* line 372, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-left,
.featured-project-examples .featured-project-examples-pager-right {
  position: absolute;
  top: 0;
  width: 20px;
  height: 225px;
  background: #fff;
}
/* line 379, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-left {
  left: 0;
}
/* line 382, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-right {
  right: 0;
}
/* line 386, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-left-inner,
.featured-project-examples .featured-project-examples-pager-right-inner {
  display: none;
  background: url("../images/project_example_arrows.png") no-repeat;
  display: inline-block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 90px;
  left: 1px;
  width: 18px;
}
/* line 398, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-left-inner {
  background-position: 0 0;
}
/* line 401, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-left-inner:hover {
  background-position: -36px 0;
}
/* line 404, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-right-inner {
  background-position: -18px 0;
}
/* line 407, ../sass/blocks.scss */
.featured-project-examples .featured-project-examples-pager-right-inner:hover {
  background-position: -54px 0;
}
/* line 413, ../sass/blocks.scss */
.featured-project-examples .pager .pager-previous a,
.featured-project-examples .pager .pager-next a {
  background: url("../images/project_example_arrows.png") no-repeat;
  display: inline-block;
  height: 28px;
  overflow: hidden;
  position: absolute;
  text-indent: 100%;
  top: 90px;
  width: 18px;
}
/* line 423, ../sass/blocks.scss */
.featured-project-examples .pager .pager-previous a {
  background-position: 0 0;
  left: 0;
}
/* line 427, ../sass/blocks.scss */
.featured-project-examples .pager .pager-previous a:hover {
  background-position: -36px 0;
}
/* line 430, ../sass/blocks.scss */
.featured-project-examples .pager .pager-next a {
  background-position: -18px 0;
  right: 0;
}
/* line 434, ../sass/blocks.scss */
.featured-project-examples .pager .pager-next a:hover {
  background-position: -54px 0;
}
/* line 438, ../sass/blocks.scss */
.featured-project-examples .pager .pager-current,
.featured-project-examples .pager .throbber {
  display: none;
}

/* line 445, ../sass/blocks.scss */
.client-partner-logos .views-row {
  float: left;
  margin: 1em;
  text-align: center;
}
/* line 450, ../sass/blocks.scss */
.client-partner-logos .views-row:nth-child(6n+1) {
  clear: left;
}
/* line 453, ../sass/blocks.scss */
.client-partner-logos .views-row a {
  display: block;
}

/* line 459, ../sass/blocks.scss */
.certifications .group-left {
  width: 22%;
  padding-right: 20px;
}
/* line 463, ../sass/blocks.scss */
.certifications .group-right {
  width: 75%;
}
/* line 466, ../sass/blocks.scss */
.certifications h2 {
  color: #999;
  margin: 0 0 .5em 0;
}

/* line 473, ../sass/blocks.scss */
.projects-examples td {
  padding: 0 .5em 2em .5em;
}
/* line 476, ../sass/blocks.scss */
.projects-examples td img {
  border: 5px solid whitesmoke;
}

/* line 483, ../sass/blocks.scss */
#block-views-newsroom-newsroom {
  background: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 487, ../sass/blocks.scss */
#block-views-newsroom-newsroom .block-title {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f9af2b;
  color: #fff;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
/* line 496, ../sass/blocks.scss */
#block-views-newsroom-newsroom .newsroom {
  color: #666;
  font-size: .8em;
  line-height: 1.2em;
  padding-bottom: 10px;
}
/* line 502, ../sass/blocks.scss */
#block-views-newsroom-newsroom .newsroom .views-row {
  background: url(../images/icon_message_bubble.png) 10px top no-repeat;
}
/* line 506, ../sass/blocks.scss */
#block-views-newsroom-newsroom .newsroom-articles {
  border-bottom: 1px inset #d6d6d6;
  margin-bottom: 10px;
}
/* line 510, ../sass/blocks.scss */
#block-views-newsroom-newsroom .newsroom-articles .views-row {
  background: url(../images/icon_news.png) 10px 3px no-repeat;
}
/* line 514, ../sass/blocks.scss */
#block-views-newsroom-newsroom .views-row:first-child {
  background: whitesmoke url(../images/icon_news.png) 96% 5px no-repeat;
  border-bottom: 1px inset #d1d1d1;
  padding: 10px;
}
/* line 519, ../sass/blocks.scss */
#block-views-newsroom-newsroom .views-row {
  padding: 0 10px 0 40px;
  margin-bottom: 1em;
}
/* line 524, ../sass/blocks.scss */
#block-views-newsroom-newsroom .field-name-post-date,
#block-views-newsroom-newsroom .views-field-timestamp {
  color: #999;
  font-weight: bold;
  font-size: .95em;
  padding: 3px 0;
}

/* line 532, ../sass/blocks.scss */
#block-views-social-media-feeds-block {
  background: whitesmoke url(../images/icon_message_bubble.png) 270px 20px no-repeat;
}

/* line 538, ../sass/blocks.scss */
#block-views-social-media-feeds-block,
#block-studio-blog-blogroll,
#webform-client-form-7,
#block-webform-client-block-7 {
  background-color: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
}
/* line 543, ../sass/blocks.scss */
#block-views-social-media-feeds-block .block-title,
#block-studio-blog-blogroll .block-title,
#webform-client-form-7 .block-title,
#block-webform-client-block-7 .block-title {
  color: #999;
  font-weight: normal;
  margin: 0 0 10px 0;
}
/* line 548, ../sass/blocks.scss */
#block-views-social-media-feeds-block .views-row,
#block-studio-blog-blogroll .views-row,
#webform-client-form-7 .views-row,
#block-webform-client-block-7 .views-row {
  margin-bottom: 10px;
}
/* line 551, ../sass/blocks.scss */
#block-views-social-media-feeds-block .views-row .views-field-timestamp,
#block-studio-blog-blogroll .views-row .views-field-timestamp,
#webform-client-form-7 .views-row .views-field-timestamp,
#block-webform-client-block-7 .views-row .views-field-timestamp {
  color: #999;
  font-size: .8em;
  font-weight: bold;
}

/* line 558, ../sass/blocks.scss */
#block-webform-client-block-7 form {
  padding: 0;
  width: 265px;
}

/* line 562, ../sass/blocks.scss */
#webform-client-form-7 {
  width: 292px;
}
