/* line 5, ../sass/blog.scss */
.blog #logo {
  float: none;
}
@media all and (min-width: 960px) {
  /* line 5, ../sass/blog.scss */
  .blog #logo {
    float: left;
  }
}
/* line 13, ../sass/blog.scss */
.blog #navigation {
  bottom: .5em;
}
/* line 16, ../sass/blog.scss */
.blog #navigation .active {
  display: none;
}
/* line 19, ../sass/blog.scss */
.blog #navigation a {
  color: black;
  text-transform: uppercase;
}
/* line 25, ../sass/blog.scss */
.blog #header {
  border-bottom: 15px #ccc solid;
  padding-bottom: .5em;
}
/* line 31, ../sass/blog.scss */
.blog .view-blog h2 {
  color: #999;
  line-height: 24px;
  margin: 0;
}
/* line 36, ../sass/blog.scss */
.blog .view-blog p {
  margin: 5px 0 0 0;
}
/* line 39, ../sass/blog.scss */
.blog .view-blog .field-name-post-date {
  font-weight: bold;
  font-size: .8em;
}
/* line 43, ../sass/blog.scss */
.blog .view-blog .field-name-field-byline {
  color: #999;
  margin: 0;
  font-style: italic;
}
/* line 48, ../sass/blog.scss */
.blog .view-blog .recent-blog-post {
  position: relative;
  font-size: 13.6px;
}
/* line 52, ../sass/blog.scss */
.blog .view-blog .recent-blog-post .node {
  background: no-repeat left 5px;
  padding: 2em;
  border-top: 1px solid black;
  border-right: none;
}
/* line 58, ../sass/blog.scss */
.blog .view-blog .recent-blog-post .node .group-left {
  width: 25%;
}
/* line 61, ../sass/blog.scss */
.blog .view-blog .recent-blog-post .node .group-right {
  width: 70%;
  float: right;
}
/* line 68, ../sass/blog.scss */
.blog .view-blog .recent-blog-post .read-more {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 74, ../sass/blog.scss */
.blog .view-blog .recent-blog-post .read-more a {
  display: inline-block;
  color: white;
  padding: .25em 1em;
  background-color: #666;
  text-transform: capitalize;
}
/* line 84, ../sass/blog.scss */
.blog .view-blog .view-content {
  overflow: hidden;
}
/* line 87, ../sass/blog.scss */
.blog .view-blog .item-list {
  margin-top: 2em;
}
/* line 91, ../sass/blog.scss */
.blog .view-blog ul.inline {
  display: block;
  clear: both;
  padding: 24px 0;
}

/* line 102, ../sass/blog.scss */
.page-blog h1.title,
.page-blog .view-blog .block-title {
  display: inline-block;
  color: white;
  padding: .25em 1em;
  background-color: #666;
  text-transform: capitalize;
  line-height: 18.4px;
  font-size: 18.4px;
  font-weight: normal;
}
