/**
 * @file
 * Form Styling
 */
/* line 8, ../sass/forms.scss */
.form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: 1.5em 0;
}
/* line 14, ../sass/forms.scss */
.form-item input .error,
.form-item textarea .error,
.form-item select .error {
  /* Highlight the form elements that caused a form submission error */
  border: 1px solid #c00;
}
/* line 19, ../sass/forms.scss */
.form-item label {
  /* The label for a form element */
  display: block;
  font-weight: bold;
}
/* line 24, ../sass/forms.scss */
.form-item label.option {
  /* The label for a radio button or checkbox */
  display: inline;
  font-weight: normal;
}
/* line 29, ../sass/forms.scss */
.form-item .form-required {
  /* The part of the label that indicates a required field */
  color: #c00;
}
/* line 33, ../sass/forms.scss */
.form-item .description {
  /* The descriptive help text (separate from the label) */
  font-size: 0.85em;
}
/* line 38, ../sass/forms.scss */
.form-checkboxes .form-item, .form-radios .form-item {
  /* Pack groups of checkboxes and radio buttons closer together */
  margin: 0;
  /* Drupal core uses "0.4em 0" */
}
/* line 42, ../sass/forms.scss */
.form-item .compact-form-label {
  color: #c0c0c0;
  font-weight: normal;
  padding-left: 10px;
  top: 5px;
}

/* line 51, ../sass/forms.scss */
.form-submit {
  /* The submit button */
  border: 1px solid #008bd9;
  color: #fff;
  padding: .5em 1em;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0ba6cb), color-stop(100%, #0074ad));
  background: -webkit-linear-gradient(top, #0ba6cb, #0074ad);
  background: -moz-linear-gradient(top, #0ba6cb, #0074ad);
  background: -o-linear-gradient(top, #0ba6cb, #0074ad);
  background: linear-gradient(top, #0ba6cb, #0074ad);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px 1px;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 1px, rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px, rgba(0, 0, 0, 0.2) 0 0 3px 1px;
}

/* line 62, ../sass/forms.scss */
.container-inline div,
.container-inline label {
  /* Inline labels and form divs */
  display: inline;
}

/* line 67, ../sass/forms.scss */
.tips {
  /* Tips for Drupal's input formats */
}

/* line 70, ../sass/forms.scss */
a.button {
  /* Buttons used by contrib modules like Media */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * Password confirmation
 */
/* line 79, ../sass/forms.scss */
.password-parent,
.confirm-parent {
  margin: 0;
}

/*
 * Search (search-block-form.tpl.php)
 */
/* line 87, ../sass/forms.scss */
#block-search-form {
  /* Wrapper for the search form */
}

/*
 * Drupal's default login form block
 */
/* line 94, ../sass/forms.scss */
#user-login-form {
  text-align: left;
  /*
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
}
/* line 104, ../sass/forms.scss */
#user-login-form ul {
  /* OpenID creates a new ul above the login form's links. */
  margin-bottom: 0;
  /* Position OpenID's ul next to the rest of the links. */
}
/* line 109, ../sass/forms.scss */
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* The "Log in using OpenID" link. */
  margin-top: 1.5em;
  margin-left: -20px;
  /* Un-do some of the padding on the ul list. */
}
/* line 114, ../sass/forms.scss */
#user-login-form li.user-link {
  /* The "Cancel OpenID login" link. */
  margin-top: 1.5em;
}

/* line 119, ../sass/forms.scss */
#user-login ul {
  margin: 1.5em 0;
}

/*
 * Drupal admin tables
 *
 * We overrode these styles in normalize.css, but restore them for the admin
 * section of the site.
 */
/* line 131, ../sass/forms.scss */
form th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}
/* line 137, ../sass/forms.scss */
form tbody {
  border-top: 1px solid #ccc;
}
/* line 141, ../sass/forms.scss */
form tr.even {
  background-color: #fff;
}
/* line 145, ../sass/forms.scss */
form table .item-list ul {
  margin: 0;
}

/*
 * Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
 */
/* line 164, ../sass/forms.scss */
td.menu-disabled {
  background: #ccc;
}

/* line 168, ../sass/forms.scss */
.ui-selectmenu {
  background: #fff;
  position: relative;
  height: 28px;
}
/* line 173, ../sass/forms.scss */
.ui-selectmenu .ui-selectmenu-status {
  line-height: 16px;
  padding: 5px 10px;
}
/* line 178, ../sass/forms.scss */
.ui-selectmenu .ui-icon {
  background: url("../images/form_select_arrow.png") center center no-repeat;
  height: 28px;
  margin: 0;
  position: absolute;
  right: 0px;
  top: 0;
  width: 35px;
}

/* line 189, ../sass/forms.scss */
.webform-client-form {
  /**
   * Form specific styles.
   */
}
/* line 190, ../sass/forms.scss */
.webform-client-form .form-item {
  /* Wrapper for a form element (or group of form elements) and its label */
  margin: .5em 0;
  max-width: 270px;
}
/* line 196, ../sass/forms.scss */
.webform-client-form .form-item input,
.webform-client-form .form-item textarea,
.webform-client-form .form-item select {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 6px 10px;
  width: 100%;
}
/* line 203, ../sass/forms.scss */
.webform-client-form .form-item .compact-form-label {
  color: #C0C0C0;
  font-weight: normal;
  padding-left: 10px;
  top: 5px;
}
/* line 211, ../sass/forms.scss */
.webform-client-form .form-actions {
  max-width: 270px;
  text-align: center;
}
/* line 216, ../sass/forms.scss */
.webform-client-form #webform-component-state {
  margin-right: 10px;
}
/* line 220, ../sass/forms.scss */
.webform-client-form #webform-component-state,
.webform-client-form #webform-component-zip-code {
  float: left;
  width: 130px;
}
/* line 224, ../sass/forms.scss */
.webform-client-form #webform-component-email-address {
  clear: both;
}
/* line 227, ../sass/forms.scss */
.webform-client-form .webform-component-select label {
  display: none;
}
/* line 236, ../sass/forms.scss */
.webform-client-form #webform-client-form-7 #webform-component-email-address,
.webform-client-form #webform-client-form-8 #webform-component-email-address {
  clear: both;
}

/**
 * Contact Us page webform block
 */
/* line 250, ../sass/forms.scss */
.page-node-20 #block-webform-client-block-7 .block-title {
  display: none;
}
/* line 253, ../sass/forms.scss */
.page-node-20 #webform-client-form-7 {
  position: relative;
}
/* line 257, ../sass/forms.scss */
.page-node-20 #webform-client-form-7 .webform-component,
.page-node-20 #webform-client-form-7 .form-actions {
  position: relative;
  left: 200px;
}
/* line 261, ../sass/forms.scss */
.page-node-20 #webform-client-form-7 #webform-component-studio-one-address {
  position: absolute;
  top: 0;
  left: 0;
}

/** Modals  **/
/* line 272, ../sass/forms.scss */
.ctools-modal-content {
  position: relative;
  padding: 25px 25px 10px;
  background: #fff;
  border-radius: 9px;
}

/* line 278, ../sass/forms.scss */
.modal-header {
  margin-bottom: 15px;
}

/* line 281, ../sass/forms.scss */
.modal-header .close {
  position: absolute;
  top: 5px;
  right: 6px;
}

/* line 286, ../sass/forms.scss */
#modal-title {
  color: #ccc;
  font-size: 22px;
}

/* line 290, ../sass/forms.scss */
.ctools-modal-content .form-actions {
  text-align: center;
}

/* line 293, ../sass/forms.scss */
.ctools-modal-content p {
  line-height: 20px;
  font-size: 15px;
  margin: 12px 0;
}

/* line 298, ../sass/forms.scss */
.ctools-modal-content p strong {
  font-size: 1.2em;
}
