/**
 * @file
 * Navigation Styling
 */
/**
 * General menu styles
 */
/* line 11, ../sass/navigation.scss */
li.active-trail > a {
  color: #0080b2;
}

/*
 * Navigation bar
 */
/* line 19, ../sass/navigation.scss */
#navigation .block {
  margin: 0;
}
/* line 25, ../sass/navigation.scss */
#navigation .block-menu .block-title,
#navigation .block-superfish .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Main menu and eyebrow menu links
 */
/* line 33, ../sass/navigation.scss */
#eyebrow {
  background: #000;
  padding: 3px 0;
  text-align: right;
}
/* line 38, ../sass/navigation.scss */
#eyebrow li {
  border-left: 2px solid #fff;
}
/* line 41, ../sass/navigation.scss */
#eyebrow li:first-child {
  border: none;
}
/* line 44, ../sass/navigation.scss */
#eyebrow a {
  color: #fff;
}
/* line 47, ../sass/navigation.scss */
#eyebrow .block {
  margin: 0;
}
/* line 50, ../sass/navigation.scss */
#eyebrow .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Menu blocks
 */
/* line 58, ../sass/navigation.scss */
.sidebar-menu {
  border-top: 5px solid #f5f5f5;
  border-bottom: 5px solid #f5f5f5;
}
/* line 62, ../sass/navigation.scss */
.sidebar-menu ul {
  list-style: none;
  margin: 10px 0;
}
/* line 66, ../sass/navigation.scss */
.sidebar-menu li {
  margin-bottom: .75em;
}

/**
 * Superfish block
 */
/* line 74, ../sass/navigation.scss */
.sf-menu {
  float: left;
  padding: 0;
}

/* line 78, ../sass/navigation.scss */
.sf-menu ul {
  padding-left: 0;
}

/* line 81, ../sass/navigation.scss */
.sf-menu a {
  color: #555555;
  padding: 0.75em 1.25em;
}

/* line 85, ../sass/navigation.scss */
.sf-menu a.sf-with-ul {
  padding-right: 2.25em;
}

/* line 88, ../sass/navigation.scss */
.sf-menu.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

/* line 92, ../sass/navigation.scss */
.sf-menu li {
  background: #fff;
}

/* line 98, ../sass/navigation.scss */
.sf-menu > li:hover,
.sf-menu > li.sfHover,
.sf-menu > li.active a {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
}
/* line 101, ../sass/navigation.scss */
.sf-menu > li:hover ul,
.sf-menu > li.sfHover ul,
.sf-menu > li.active a ul {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  max-width: 12em;
}
/* line 106, ../sass/navigation.scss */
.sf-menu > li:hover li:hover,
.sf-menu > li.sfHover li:hover,
.sf-menu > li.active a li:hover {
  background: #f5f5f5;
}

/* line 111, ../sass/navigation.scss */
.sf-menu li.active-trail.sf-depth-2 {
  background: white url("../images/menu_active.png") 5px center no-repeat;
}

/* line 115, ../sass/navigation.scss */
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}

/* line 119, ../sass/navigation.scss */
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent {
  font-weight: bold;
}

/* line 122, ../sass/navigation.scss */
.sf-menu ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
  width: 12em;
}

/* line 127, ../sass/navigation.scss */
.sf-menu.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}

/* line 130, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-1 ul.sf-megamenu {
  width: 12em;
}

/* line 133, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-2 ul.sf-megamenu {
  width: 24em;
}

/* line 136, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-3 ul.sf-megamenu {
  width: 36em;
}

/* line 139, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-4 ul.sf-megamenu {
  width: 48em;
}

/* line 142, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-5 ul.sf-megamenu {
  width: 60em;
}

/* line 145, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-6 ul.sf-megamenu {
  width: 72em;
}

/* line 148, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-7 ul.sf-megamenu {
  width: 84em;
}

/* line 151, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-8 ul.sf-megamenu {
  width: 96em;
}

/* line 154, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-9 ul.sf-megamenu {
  width: 108em;
}

/* line 157, ../sass/navigation.scss */
.sf-menu li.sf-parent-children-10 ul.sf-megamenu {
  width: 120em;
}
