/**
 * @file
 * Navigation Styling
 */
/**
 * General menu styles
 */
/* line 11, ../sass/navigation.scss */
li.active-trail > a {
  color: #0080b2;
}

/*
 * Navigation bar
 */
/* line 19, ../sass/navigation.scss */
#navigation .block {
  margin: 0;
}
/* line 25, ../sass/navigation.scss */
#navigation .block-menu .block-title,
#navigation .block-superfish .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Main menu and eyebrow menu links
 */
/* line 33, ../sass/navigation.scss */
#eyebrow {
  background: #000;
  padding: 0;
  position: relative;
  font-size: 12px;
  text-align: right;
  z-index: 100;
}
/* line 41, ../sass/navigation.scss */
#eyebrow li {
  border-left: 2px solid #fff;
}
/* line 44, ../sass/navigation.scss */
#eyebrow li:first-child {
  border: none;
}
/* line 47, ../sass/navigation.scss */
#eyebrow a {
  color: #fff;
}
/* line 50, ../sass/navigation.scss */
#eyebrow .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Menu blocks
 */
/* line 58, ../sass/navigation.scss */
.sidebar-menu {
  border-top: 5px solid #f5f5f5;
  border-bottom: 5px solid #f5f5f5;
}
/* line 62, ../sass/navigation.scss */
.sidebar-menu ul {
  list-style: none;
  margin: 10px 0;
  padding-left: 10px;
}
/* line 67, ../sass/navigation.scss */
.sidebar-menu li {
  margin-bottom: .75em;
}
/* line 70, ../sass/navigation.scss */
.sidebar-menu a {
  color: #333;
}

/* line 75, ../sass/navigation.scss */
.footer-menu ul {
  margin: 0;
  padding: 0;
}
/* line 79, ../sass/navigation.scss */
.footer-menu li {
  border-left: 2px solid #999;
}
/* line 82, ../sass/navigation.scss */
.footer-menu li:first-child {
  border: none;
}
/* line 85, ../sass/navigation.scss */
.footer-menu .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 89, ../sass/navigation.scss */
.eyebrow-menu {
  display: inline-block;
  margin: 0;
  padding: 3px 0;
}

/**
 * Breadcrumbs
 */
/* line 98, ../sass/navigation.scss */
.breadcrumb {
  padding: 4px 0;
}

/**
 * Superfish block
 */
/* line 104, ../sass/navigation.scss */
.main-menu {
  float: left;
  padding: 0;
  font-size: 20px;
  font-weight: lighter;
}

/* line 110, ../sass/navigation.scss */
.main-menu ul {
  padding-left: 0;
}

/* line 113, ../sass/navigation.scss */
.main-menu a {
  color: #555555;
  padding: .75em .75em .75em 1em;
}

/* line 117, ../sass/navigation.scss */
.main-menu a.sf-with-ul {
  padding-right: 2.25em;
}

/* line 120, ../sass/navigation.scss */
.main-menu.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

/* line 124, ../sass/navigation.scss */
.main-menu li {
  background: #fff;
}

/* line 129, ../sass/navigation.scss */
.main-menu > li:hover,
.main-menu > li.sfHover,
.main-menu > li.active a {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
}
/* line 132, ../sass/navigation.scss */
.main-menu > li:hover ul,
.main-menu > li.sfHover ul,
.main-menu > li.active a ul {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  max-width: 12em;
  font-size: 16px;
}
/* line 138, ../sass/navigation.scss */
.main-menu > li:hover li:hover,
.main-menu > li.sfHover li:hover,
.main-menu > li.active a li:hover {
  background: #f5f5f5;
}

/* line 142, ../sass/navigation.scss */
.main-menu li.active-trail.sf-depth-2 {
  background: white url("../images/menu_active.png") 5px center no-repeat;
}
