/**
 * @file
 * Navigation Styling
 */
/**
 * General menu styles
 */
/* line 12, ../sass/navigation.scss */
li.active-trail > a,
li.active > a {
  color: #0080b2;
}

/* line 16, ../sass/navigation.scss */
.expanded .menu {
  font-size: 13.6px;
  line-height: 14px;
}
/* line 20, ../sass/navigation.scss */
.expanded .menu li {
  margin-bottom: .5em;
}

/*
 * Navigation bar
 */
/* line 30, ../sass/navigation.scss */
#navigation .block {
  margin: 0;
}
/* line 36, ../sass/navigation.scss */
#navigation .block-menu .block-title,
#navigation .block-superfish .block-title,
#navigation .block-menu-block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Main menu and eyebrow menu links
 */
/* line 44, ../sass/navigation.scss */
#eyebrow {
  background: #000;
  padding: 0;
  position: relative;
  font-size: 12px;
  text-align: right;
  z-index: 100;
}
/* line 52, ../sass/navigation.scss */
#eyebrow li {
  border-left: 2px solid #fff;
}
/* line 55, ../sass/navigation.scss */
#eyebrow li:first-child {
  border: none;
}
/* line 58, ../sass/navigation.scss */
#eyebrow a {
  color: #fff;
}
/* line 61, ../sass/navigation.scss */
#eyebrow .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Menu blocks
 */
@media all and (min-width: 615px) and (max-width: 750px) {
  /* line 70, ../sass/navigation.scss */
  .sidebar-menu {
    font-size: 10px;
  }
}
/* line 74, ../sass/navigation.scss */
.sidebar-menu {
  border-top: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
  line-height: 16px;
}
/* line 79, ../sass/navigation.scss */
.sidebar-menu ul {
  list-style: none;
  margin: 10px 0;
  padding-left: 10px;
}
/* line 84, ../sass/navigation.scss */
.sidebar-menu li {
  margin-bottom: .75em;
}
/* line 87, ../sass/navigation.scss */
.sidebar-menu a {
  color: #333;
}

/* line 92, ../sass/navigation.scss */
.footer-menu ul {
  margin: 0;
  padding: 0;
}
/* line 96, ../sass/navigation.scss */
.footer-menu li {
  border-left: 2px solid #999;
}
/* line 99, ../sass/navigation.scss */
.footer-menu li:first-child {
  border: none;
}
/* line 102, ../sass/navigation.scss */
.footer-menu .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 106, ../sass/navigation.scss */
.eyebrow-menu {
  display: inline-block;
  margin: 0;
  padding: 3px 0;
}

/**
 * Breadcrumbs
 */
/* line 115, ../sass/navigation.scss */
.breadcrumb {
  padding: 4px 0;
}

/**
 * Superfish block
 */
/* line 121, ../sass/navigation.scss */
.main-menu {
  float: left;
  font-size: 17.6px;
  font-weight: lighter;
  margin-top: 10px;
  padding: 0;
}

@media all and (min-width: 615px) {
  /* line 129, ../sass/navigation.scss */
  .main-menu {
    font-size: 20px;
  }
}
/* line 134, ../sass/navigation.scss */
.main-menu ul {
  padding-left: 0;
}

/* line 137, ../sass/navigation.scss */
.main-menu a {
  color: #555555;
  padding: .5em;
}

/* line 141, ../sass/navigation.scss */
.main-menu a.sf-with-ul {
  padding-right: 2.25em;
}

/* line 144, ../sass/navigation.scss */
.main-menu.rtl a.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}

/* line 149, ../sass/navigation.scss */
.main-menu > li.sfHover,
.main-menu > li.sfHover li {
  background-color: #fff;
}

/* line 154, ../sass/navigation.scss */
.main-menu > li:hover,
.main-menu > li.sfHover,
.main-menu > li.active a {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 3px 1px;
}
/* line 157, ../sass/navigation.scss */
.main-menu > li:hover ul,
.main-menu > li.sfHover ul,
.main-menu > li.active a ul {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px 1px;
  max-width: 12em;
  font-size: 16px;
  margin-top: -5px;
}
/* line 164, ../sass/navigation.scss */
.main-menu > li:hover li:hover,
.main-menu > li.sfHover li:hover,
.main-menu > li.active a li:hover {
  background: #fff;
}
/* line 165, ../sass/navigation.scss */
.main-menu > li:hover li:hover a,
.main-menu > li.sfHover li:hover a,
.main-menu > li.active a li:hover a {
  color: #0080b2;
}

@media all and (min-width: 720px) {
  /* line 173, ../sass/navigation.scss */
  .main-menu a {
    padding: .75em .75em .75em 1.2em;
  }

  /* line 176, ../sass/navigation.scss */
  .main-menu {
    margin-top: 0;
  }

  /* line 182, ../sass/navigation.scss */
  .main-menu > li:hover ul,
  .main-menu > li.sfHover ul,
  .main-menu > li.active a ul {
    margin-top: 0;
  }
  /* line 186, ../sass/navigation.scss */
  .main-menu > li:hover li:hover,
  .main-menu > li.sfHover li:hover,
  .main-menu > li.active a li:hover {
    background: white url("../images/menu_active.png") 5px center no-repeat;
  }
}
