/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 15, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 27, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 31, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 45, ../sass/pages.scss */
#header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

/* line 52, ../sass/pages.scss */
#logo {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 500;
}
/* line 59, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

@media all and (min-width: 960px) {
  /* line 65, ../sass/pages.scss */
  #navigation {
    position: absolute;
    bottom: 0;
    right: 2em;
  }
}
/* line 72, ../sass/pages.scss */
.region-header {
  clear: both;
}

/*
 * Main (container for everything else)
 */
/* line 81, ../sass/pages.scss */
#main .bug {
  background: url(../images/bugs.png) no-repeat;
  height: 75px;
  overflow: hidden;
  position: absolute;
  right: -10px;
  text-indent: 100%;
  top: -44px;
  width: 150px;
}
@media all and (max-width: 959px) {
  /* line 92, ../sass/pages.scss */
  #main .bug {
    top: -85px;
  }
}
/* line 98, ../sass/pages.scss */
#main .bug.marketers {
  background-position: left top;
}
/* line 101, ../sass/pages.scss */
#main .bug.publishers {
  background-position: left bottom;
}

/* line 106, ../sass/pages.scss */
.page-home .region-sidebar-second {
  margin-top: 0;
}

/*
 * Content
 */
/* line 116, ../sass/pages.scss */
#hilighted-wrapper {
  background: #f5f5f5;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
}
/* line 123, ../sass/pages.scss */
#hilighted-wrapper #hilighted {
  max-width: 980px;
}

/* line 129, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 133, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 139, ../sass/pages.scss */
.front .breadcrumb {
  display: none;
}

/* line 149, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  margin: 0;
}

/* line 155, ../sass/pages.scss */
#eyebrow ul.menu,
#footer .footer-menu,
ul.inline {
  display: inline;
  padding: 0;
}
/* line 159, ../sass/pages.scss */
#eyebrow ul.menu li,
#footer .footer-menu li,
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 .3em 0 .5em;
}

/* line 166, ../sass/pages.scss */
.region-sidebar-first {
  padding-left: 0;
  padding-right: 20px;
}

/* line 171, ../sass/pages.scss */
#footer {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(75%, #f5f5f5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f5f5f5 75%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #f5f5f5 75%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 75%, #ffffff 100%);
  background-image: linear-gradient(top, #f5f5f5 75%, #ffffff 100%);
  color: #999;
  margin-top: 2em;
  padding: 0 0 2em 0;
  text-align: center;
}

/* line 178, ../sass/pages.scss */
#footer .block {
  margin-bottom: 0;
}

/**
 * View pages
 */
/* line 187, ../sass/pages.scss */
.view-news h2,
.view-blog h2 {
  color: #999;
  line-height: 24px;
  margin: 0;
}
/* line 192, ../sass/pages.scss */
.view-news p,
.view-blog p {
  margin: 5px 0 0 0;
}
/* line 195, ../sass/pages.scss */
.view-news .field-name-post-date,
.view-blog .field-name-post-date {
  font-weight: bold;
  font-size: .8em;
}
/* line 199, ../sass/pages.scss */
.view-news .field-name-field-byline,
.view-blog .field-name-field-byline {
  color: #999;
  margin: 0;
  font-style: italic;
}
/* line 205, ../sass/pages.scss */
.view-news .views-row .node,
.view-blog .views-row .node {
  background: no-repeat left 5px;
  border-bottom: 1px dotted #999;
  margin-bottom: 1em;
  padding: 0 0 1em 2em;
}
/* line 211, ../sass/pages.scss */
.view-news .views-row .node-blog-post,
.view-blog .views-row .node-blog-post {
  padding-left: 0;
}
/* line 214, ../sass/pages.scss */
.view-news .views-row .node-article,
.view-blog .views-row .node-article {
  background-image: url(../images/page_icon.png);
}
/* line 217, ../sass/pages.scss */
.view-news .views-row .node-press-release,
.view-blog .views-row .node-press-release {
  background-image: url(../images/mic_icon.png);
}
/* line 221, ../sass/pages.scss */
.view-news ul.inline,
.view-blog ul.inline {
  display: block;
  clear: both;
  padding: 24px 0;
}

/* line 229, ../sass/pages.scss */
.view .views-exposed-widgets {
  margin: 10px 0 25px;
}
/* line 233, ../sass/pages.scss */
.view .views-exposed-widgets #edit-date-filter-value-year {
  width: 100px;
}
/* line 236, ../sass/pages.scss */
.view .views-exposed-widgets #edit-type {
  width: 200px;
}
/* line 239, ../sass/pages.scss */
.view .views-exposed-widgets .form-submit {
  margin-top: -3px;
}

/**
 * Messages
 */
/* line 248, ../sass/pages.scss */
.messages {
  border: 1px solid #fff;
  margin: 0 0 10px 0;
  min-height: 25px;
  padding: 10px 5px 5px 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(50, 0, 0, 0.5) 0 0 5px;
  -moz-box-shadow: rgba(50, 0, 0, 0.5) 0 0 5px;
  box-shadow: rgba(50, 0, 0, 0.5) 0 0 5px;
}

/* line 256, ../sass/pages.scss */
.messages pre {
  margin: 0;
}

/* line 259, ../sass/pages.scss */
.messages.status {
  background: #b6fab5 url(/misc/message-24-ok.png) 5px center no-repeat;
}

/* line 262, ../sass/pages.scss */
.messages.warning {
  background: #fff992 url(/misc/message-24-warning.png) 5px center no-repeat;
}

/* line 265, ../sass/pages.scss */
.messages.error {
  background: #ffcccc url(/misc/message-24-error.png) 5px center no-repeat;
}

/**
 * Devel
 */
/* line 271, ../sass/pages.scss */
li.krumo-footnote span.krumo-call {
  font-size: 8px !important;
}

/* line 274, ../sass/pages.scss */
li.krumo-footnote {
  overflow: hidden;
}
