/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
@font-face {
  font-family: 'HelveticaUltraLite';
  src: url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.eot");
  src: url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.woff") format("woff"), url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.ttf") format("truetype"), url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.svg#25HelveticaUltraLightRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaThin';
  src: url("../fonts/HelveticaThin/helveticathin-webfont.eot");
  src: url("../fonts/HelveticaThinhelveticathin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinhelveticathin-webfont.woff") format("woff"), url("../fonts/HelveticaThinhelveticathin-webfont.ttf") format("truetype"), url("../fonts/HelveticaThinhelveticathin-webfont.svg#35HelveticaThinRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*
 * Body
 */
/* line 15, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* line 27, ../sass/pages.scss */
#skip-link {
  margin: 0;
}
/* line 31, ../sass/pages.scss */
#skip-link a,
#skip-link a:visited {
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
  color: #fff;
}

/*
 * Header
 */
/* line 45, ../sass/pages.scss */
#header {
  background: #fff;
  padding: 20px 0;
  position: relative;
}

/* line 51, ../sass/pages.scss */
#logo {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 56, ../sass/pages.scss */
#logo img {
  vertical-align: bottom;
}

/* line 61, ../sass/pages.scss */
#navigation {
  position: absolute;
  bottom: 0;
  right: 2em;
}

/* line 67, ../sass/pages.scss */
.region-header {
  clear: both;
}

/*
 * Main (container for everything else)
 */
/*
 * Content
 */
/* line 83, ../sass/pages.scss */
#hilighted-wrapper {
  background: #f5f5f5;
  margin-bottom: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 2px inset;
}

/* line 90, ../sass/pages.scss */
.breadcrumb ol {
  margin: 0;
  padding: 0;
}
/* line 94, ../sass/pages.scss */
.breadcrumb li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 107, ../sass/pages.scss */
h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  margin: 0;
}

/* line 113, ../sass/pages.scss */
#eyebrow ul.menu,
#footer .footer-menu,
ul.inline {
  display: inline;
  padding: 0;
}
/* line 117, ../sass/pages.scss */
#eyebrow ul.menu li,
#footer .footer-menu li,
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 .3em 0 .5em;
}

/* line 124, ../sass/pages.scss */
#footer {
  background-color: #f5f5f5;
  color: #999;
  padding: 0;
  text-align: center;
}

/* line 130, ../sass/pages.scss */
#footer .block {
  margin-bottom: 0;
}

/**
 * Messages
 */
/* line 137, ../sass/pages.scss */
.messages {
  border: 1px solid #fff;
  margin: 0 0 10px 0;
  min-height: 25px;
  padding: 10px 5px 5px 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
}

/* line 149, ../sass/pages.scss */
.messages pre {
  margin: 0;
}

/* line 152, ../sass/pages.scss */
.messages.status {
  background: #b6fab5 url(/misc/message-24-ok.png) 5px center no-repeat;
}

/* line 155, ../sass/pages.scss */
.messages.warning {
  background: #fff992 url(/misc/message-24-warning.png) 5px center no-repeat;
}

/* line 158, ../sass/pages.scss */
.messages.error {
  background: #ffcccc url(/misc/message-24-error.png) 5px center no-repeat;
}

/**
 * Devel
 */
/* line 164, ../sass/pages.scss */
li.krumo-footnote span.krumo-call {
  font-size: 8px !important;
}

/* line 167, ../sass/pages.scss */
li.krumo-footnote {
  overflow: hidden;
}
