/**
 * @file
 * Views Styling
 */
/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
/* line 18, ../sass/views-styles.scss */
.views-displays .secondary li {
  float: none;
  margin: 0 6px 0;
}
/* line 24, ../sass/views-styles.scss */
.views-displays .secondary a:link,
.views-displays .secondary a:visited {
  text-shadow: none;
  padding: 2px 7px 3px;
}
/* line 29, ../sass/views-styles.scss */
.views-displays .secondary .open > a {
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0;
}
/* line 31, ../sass/views-styles.scss */
.views-displays .secondary .open > a:hover {
  color: #333;
}
/* line 36, ../sass/views-styles.scss */
.views-displays .secondary .action-list li {
  margin: 0;
}
/* line 38, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:first-child {
  -webkit-border-radius: 0 7px 0 0;
  -moz-border-radius: 0 7px 0 0;
  -ms-border-radius: 0 7px 0 0;
  -o-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
}
/* line 41, ../sass/views-styles.scss */
.views-displays .secondary .action-list li:last-child {
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

/* line 48, ../sass/views-styles.scss */
.projects-examples .views-row {
  background: #EEE;
  float: left;
  height: 206px;
  margin: 0 10px 10px 0;
  padding: 5px;
  width: 180px;
}
/* line 56, ../sass/views-styles.scss */
.projects-examples .title {
  color: #0080b2;
}

/* line 62, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-header .countryicon {
  vertical-align: baseline;
  padding-left: 5px;
}
/* line 66, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-item-container {
  position: relative;
  width: 183px;
  height: 200px;
  overflow: visible;
}
/* line 73, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-field-screenshot,
.view-project-examples .program-examples-view-preview-field-screenshot {
  width: 175px;
  height: 192px;
  border: 4px solid #ececec;
}
/* line 78, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-item-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 415px;
  /*
  height: 215px;
  */
  padding: 18px;
  background: #333;
  border: 1px solid #ddd;
}
/* line 92, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-preview-close {
  position: absolute;
  top: 7px;
  right: 7px;
  color: #62bcea;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
/* line 105, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-screenshot-link {
  float: left;
  margin-right: 10px;
}
/* line 109, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-preview-field-screenshot {
  position: absolute;
  top: 18px;
  left: 18px;
}
/* line 114, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-item-preview-right {
  width: 215px;
  margin-left: 200px;
}
/* line 118, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-title a {
  color: #ccc;
  line-height: 19px;
  font-size: 19px;
  margin-bottom: 8px;
}
/* line 124, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-body {
  display: block;
  color: #fff;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}
/* line 131, ../sass/views-styles.scss */
.view-project-examples .project-examples-view-editorial-guide-link {
  display: block;
}
/* line 134, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-live-program-url-link {
  display: block;
  color: #0080b2;
}
/* line 138, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-live-program-link a {
  color: #62bcea;
  line-height: 21px;
  font-size: 14px;
}
/* line 143, ../sass/views-styles.scss */
.view-project-examples .program-examples-view-item-preview .countryicon {
  width: 22px;
  border: none;
  margin-right: 10px;
}
/* line 148, ../sass/views-styles.scss */
.view-project-examples .field-collection-item-field-country-url {
  display: inline-block;
}

/** Media Kit **/
/* line 155, ../sass/views-styles.scss */
#block-views-media-kit-block-1 {
  padding-bottom: 10px;
  border-bottom: 4px solid #ccc;
}

/* line 160, ../sass/views-styles.scss */
#block-views-media-kit-block .block-title,
#block-views-media-kit-block-1 .block-title {
  color: #999;
  line-height: 20px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}

/* line 168, ../sass/views-styles.scss */
#block-views-media-kit-block .view-header p,
#block-views-media-kit-block-1 .view-header p {
  margin: 20px 0;
}

/* line 172, ../sass/views-styles.scss */
#block-views-media-kit-block .views-row + h3,
#block-views-media-kit-block-1 .views-row + h3 {
  padding-top: 15px;
  border-top: 1px dotted #ccc;
}

/* line 177, ../sass/views-styles.scss */
#block-views-media-kit-block-1 .views-row-1 .media-kit-title-link,
#block-views-media-kit-block-1 .views-row-1 .media-kit-body {
  display: none;
}

/* line 180, ../sass/views-styles.scss */
#block-views-media-kit-block h3 {
  line-height: 16px;
  font-size: 16px;
  margin: 15px 0 15px;
}

/* line 185, ../sass/views-styles.scss */
#block-views-media-kit-block-1 h3 {
  display: none;
}

/* line 188, ../sass/views-styles.scss */
.media-kit-item-container {
  margin: 10px 0;
}

/* line 191, ../sass/views-styles.scss */
.media-kit-title-link {
  color: #999;
  line-height: 20px;
  font-size: 16px;
}

/* line 196, ../sass/views-styles.scss */
.media-kit-body {
  line-height: 20px;
  font-size: 14px;
}

/* line 200, ../sass/views-styles.scss */
.media-kit-file-container {
  margin: 5px 0 10px;
}

/* line 203, ../sass/views-styles.scss */
.media-kit-file-icon {
  vertical-align: middle;
  height: 36px;
}

/* line 207, ../sass/views-styles.scss */
.media-kit-file-link {
  padding-left: 10px;
}
