/**
 * @file
 * Wireframes Styling
 *
 * Add wireframes to the basic layout elements.
 */
@font-face {
  font-family: 'HelveticaUltraLite';
  src: url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.eot");
  src: url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.woff") format("woff"), url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.ttf") format("truetype"), url("../fonts/HelveticaUltraLite/helveticaultralite-webfont.svg#25HelveticaUltraLightRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaThin';
  src: url("../fonts/HelveticaThin/helveticathin-webfont.eot");
  src: url("../fonts/HelveticaThinhelveticathin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaThinhelveticathin-webfont.woff") format("woff"), url("../fonts/HelveticaThinhelveticathin-webfont.ttf") format("truetype"), url("../fonts/HelveticaThinhelveticathin-webfont.svg#35HelveticaThinRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 19, ../sass/wireframes.scss */
.with-wireframes #header,
.with-wireframes #main,
.with-wireframes #content,
.with-wireframes #navigation,
.with-wireframes .region-sidebar-first,
.with-wireframes .region-sidebar-second,
.with-wireframes #footer,
.with-wireframes .region-bottom {
  outline: 1px solid #ccc;
}
