/**
 * @file
 * RTL companion for the responsive-sidebars.css file.
 */
/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* Center the page. */
/* line 25, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  max-width: 100%;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
/* line 38, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#sub-content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* Containers for grid items and flow items. */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* line 52, ../../sass/layouts/responsive-sidebars.scss */
#header,
.region-eyebrow,
#hilighted,
#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

/* Navigation bar */
@media all and (min-width: 480px) {
  /* line 60, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    position: relative;
  }
}
@media all and (min-width: 480px) and (max-width: 959px) {
  /* Use 3 grid columns for smaller screens. */
  /* The layout when there is only one sidebar, the left one. */
  /* line 71, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
  }
  /* line 74, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #sub-content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
    clear: left;
  }
  /* line 78, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
  }

  /* The layout when there is only one sidebar, the right one. */
  /* line 85, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
  }
  /* line 88, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #sub-content {
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
    clear: right;
  }
  /* line 92, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
  }

  /* The layout when there are two sidebars. */
  /* line 99, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
  }
  /* line 102, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #sub-content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
    clear: left;
  }
  /* line 106, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
  }
  /* line 109, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
    clear: left;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 114, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 117, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(2n+1) {
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
    clear: right;
  }
  /* line 121, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(2n) {
    float: right;
    width: 33.333%;
    margin-right: 33.333%;
    margin-left: -66.667%;
  }
}
@media all and (min-width: 960px) {
  /* Use 12 grid columns for larger screens. */
  /* line 132, ../../sass/layouts/responsive-sidebars.scss */
  .region-sidebar-first {
    padding-left: 0;
    padding-right: 20px;
  }

  /* The layout when there is only one sidebar, the left one. */
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: left;
    width: 83.333%;
    margin-left: 0%;
    margin-right: -83.333%;
  }
  /* line 142, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #sub-content {
    float: left;
    width: 83.333%;
    margin-left: 0%;
    margin-right: -83.333%;
    clear: left;
  }
  /* line 146, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: right;
    width: 16.667%;
    margin-right: 0%;
    margin-left: -16.667%;
  }

  /* The layout when there is only one sidebar, the right one. */
  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
  }
  /* line 156, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #sub-content {
    float: right;
    width: 66.667%;
    margin-right: 0%;
    margin-left: -66.667%;
    clear: right;
  }
  /* line 161, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
    margin-top: 4em;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 172, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: left;
    width: 50%;
    margin-left: 33.333%;
    margin-right: -83.333%;
  }
  /* line 175, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #sub-content {
    float: right;
    width: 83.333%;
    margin-right: 16.667%;
    margin-left: -100%;
    clear: left;
  }
  /* line 180, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: right;
    width: 16.667%;
    margin-right: 0%;
    margin-left: -16.667%;
  }
  /* line 184, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 33.333%;
    margin-left: 0%;
    margin-right: -33.333%;
    margin-top: 4em;
  }
}
