/**
 * @file
 * Positioning for responsive layout .
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/* Center the page. */
/* line 25, ../../sass/layouts/responsive-sidebars.scss */
#page,
.region-bottom {
  min-width: 100%;
  overflow: hidden;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
/* line 39, ../../sass/layouts/responsive-sidebars.scss */
#header,
#content,
#sub-content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* Containers for grid items and flow items. */
/* line 52, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
/* line 56, ../../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* line 53, ../../sass/layouts/responsive-sidebars.scss */
#header,
.region-eyebrow,
#hilighted,
#main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  padding: 0 10px;
}

/* Navigation bar */
@media all and (min-width: 615px) {
  /* line 62, ../../sass/layouts/responsive-sidebars.scss */
  #main {
    position: relative;
  }
}
@media all and (min-width: 615px) and (max-width: 959px) {
  /* Use 3 grid columns for smaller screens. */
  /* The layout when there is only one sidebar, the left one. */
  /* line 73, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: right;
    width: 83.333%;
    margin-right: 0%;
    margin-left: -83.333%;
  }
  /* line 76, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #sub-content {
    float: right;
    width: 83.333%;
    margin-right: 0%;
    margin-left: -83.333%;
    clear: right;
  }
  /* line 80, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 16.667%;
    margin-left: 0%;
    margin-right: -16.667%;
  }

  /* The layout when there is only one sidebar, the right one. */
  /* line 87, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
  }
  /* line 90, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #sub-content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
    clear: left;
  }
  /* line 94, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
  }

  /* The layout when there are two sidebars. */
  /* line 101, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: right;
    width: 83.333%;
    margin-right: 0%;
    margin-left: -83.333%;
  }
  /* line 104, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #sub-content {
    float: right;
    width: 83.333%;
    margin-right: 0%;
    margin-left: -83.333%;
    clear: right;
  }
  /* line 108, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 16.667%;
    margin-left: 0%;
    margin-right: -16.667%;
  }
  /* line 111, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 100%;
    margin-right: 0%;
    margin-left: -100%;
    clear: right;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 116, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 119, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(2n+1) {
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    clear: left;
  }
  /* line 123, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second .block:nth-child(2n) {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
  }
}
@media all and (min-width: 960px) {
  /* Use 12 grid columns for larger screens. */
  /* The layout when there is only one sidebar, the left one. */
  /* line 136, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #content {
    float: right;
    width: 83.333%;
    margin-right: 0%;
    margin-left: -83.333%;
  }
  /* line 139, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first #sub-content {
    float: right;
    width: 83.333%;
    margin-right: 0%;
    margin-left: -83.333%;
    clear: right;
  }
  /* line 143, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 16.667%;
    margin-left: 0%;
    margin-right: -16.667%;
  }

  /* The layout when there is only one sidebar, the right one. */
  /* line 150, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
  }
  /* line 153, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second #sub-content {
    float: left;
    width: 66.667%;
    margin-left: 0%;
    margin-right: -66.667%;
    clear: left;
  }
  /* line 158, ../../sass/layouts/responsive-sidebars.scss */
  .sidebar-second .region-sidebar-second {
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
    margin-top: 4em;
  }

  /*
   * The layout when there are two sidebars.
   */
  /* line 169, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #content {
    float: right;
    width: 50%;
    margin-right: 33.333%;
    margin-left: -83.333%;
  }
  /* line 172, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars #sub-content {
    float: left;
    width: 83.333%;
    margin-left: 16.667%;
    margin-right: -100%;
    clear: right;
  }
  /* line 177, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 16.667%;
    margin-left: 0%;
    margin-right: -16.667%;
  }
  /* line 181, ../../sass/layouts/responsive-sidebars.scss */
  .two-sidebars .region-sidebar-second {
    float: right;
    width: 33.333%;
    margin-right: 0%;
    margin-left: -33.333%;
    margin-top: 4em;
  }
}
