/**
 * @file
 * Block Styling
 */

@import "base";


.block { /* Block wrapper */
  margin-bottom: 1.5em;

  &.first { /* The first block in the region */
  }

  &.last { /* The last block in the region */
  }

  &.odd { /* Zebra striping for each block in the region */
  }

  &.even { /* Zebra striping for each block in the region */
  }

  h2.block-title { /* Block title */
  }
}

.tag-lines {
  font-size: 1.25 * $base-font-size;

  .stripe {
    background: #000;
    color: #fff;
    padding: 4px 0;
    margin-bottom: 5px;

    span {
      color: $studio_blue;
    }
  }

  .sub-stripe {
    text-transform: uppercase;
  }
}
