@import "base";

.blog {

  #logo {
    float: none;

    @media all and (min-width: 960px) {
      float: left;
    }
  }

  #navigation {
    bottom: .5em;

    .active {
      display: none;
    }
    a {
      color: black;
      text-transform: uppercase;
    }
  }

  #header {
    border-bottom: 35px #ffc000 solid;
    padding-bottom: .5em;
  }

  .view-blog {
    h2 {
      color: #999;
      line-height: 24px;
      margin: 0;
    }
    p {
      margin: 5px 0 0 0;
    }
    .field-name-post-date {
      font-weight: bold;
      font-size: .8em;
    }
    .field-name-field-byline {
      color: #999;
      margin: 0;
      font-style: italic;
    }
    .recent-blog-post {
      position: relative;
      font-size: .85 * $base-font-size;

      .node {
        background: no-repeat left 5px;
        padding: 2em;
        border-top: 1px solid black;
        border-right: none;

        .group-left {
          width: 25%;
        }
        .group-right {
          width: 70%;
          float: right;
        }

      }

      .read-more {
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;

        a {
          display: inline-block;
          color: white;
          padding: .25em 1em;
          background-color: #666;
          text-transform: capitalize;
        }
      }

      @media all and (min-width: 900px) {
        width: 50%;
        float: left;
        @include clearfix;

        &:nth-child(odd) {
          clear: left;

          .node {
            border-right: 1px solid black;
          }
        }

        .node {
          .group-left {
            width: 55%;
          }
          .group-right {
            width: 40%;
          }
        }
      }
    }

    .view-content {
      @include clearfix;
    }
    .item-list {
      margin-top: 2em;
    }

    ul.inline {
      display: block;
      clear: both;
      padding: 24px 0;
    }
  }

}

.page-blog {
  h1.title,
  h2.block-title {
    display: inline-block;
    color: white;
    padding: .25em 1em;
    background-color: #666;
    text-transform: capitalize;
    line-height: 1.15 * $base-font-size;
    font-size: 1.15 * $base-font-size;
    font-weight: normal;
  }
}
