/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
}

#logo {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 40%;
  z-index: 500;

  img {
    vertical-align: bottom;
  }
}

@media all and (min-width: 640px) {
  #header {
    padding-bottom: 20px;
  }
  #logo {
    width: auto;
  }
}
@media all and (min-width: 960px) {
  #navigation {
    position: absolute;
    bottom: 0;
    right: 2em;
  }
}

.region-header {
  clear: both;
}

/*
 * Main (container for everything else)
 */
#main {

  .bug {
    background: url(../images/bugs.png) no-repeat;
    height: 75px;
    overflow: hidden;
    position: absolute;
    right: -10px;
    text-indent: 100%;
    top: -44px;
    width: 150px;
  }
  @media all and (max-width: 959px) {
    .bug {
      top: -85px;
    }
  }


  .bug.marketers {
    background-position: left top;
  }
  .bug.publishers {
    background-position: left bottom;
  }
}

.page-home .region-sidebar-second {
  margin-top: 0;
}

/*
 * Content
 */
#content {
}

#hilighted-wrapper {
  background: $studio_gray;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 25px ;
  margin-top: 15px;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px 2px inset);

  #hilighted {
    max-width: 980px;
  }
}
@media all and (min-width: 640px) {
  #hilighted-wrapper {
    margin-top: 0;
  }
}

.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .front & {
    display: none;
  }
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  margin: 0;
}

#eyebrow ul.menu,
#footer .footer-menu,
ul.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 .3em 0 .5em;
  }
}

.region-sidebar-first {
  padding-left: 0;
  padding-right: 20px;
}

#footer {
  @include background-image(linear-gradient(top, $studio_gray 75%, #ffffff 100%));
  color: #999;
  margin-top: 2em;
  padding: 0 0 2em 0;
  text-align: center;
}
#footer .block {
  margin-bottom: 0;
}

/**
 * View pages
 */
.view-news {
  h2 {
    color: #999;
    line-height: 24px;
    margin: 0;
  }
  p {
    margin: 5px 0 0 0;
  }
  .field-name-post-date {
    font-weight: bold;
    font-size: .8em;
  }
  .field-name-field-byline {
    color: #999;
    margin: 0;
    font-style: italic;
  }
  .views-row {
    .node {
      background: no-repeat left 5px;
      border-bottom: 1px dotted #999;
      margin-bottom: 1em;
      padding: 0 0 1em 2em;
    }
    .node-blog-post {
      padding-left: 0;
    }
    .node-article {
      background-image: url(../images/page_icon.png);
    }
    .node-press-release {
      background-image: url(../images/mic_icon.png);
    }
  }
  ul.inline {
    display: block;
    clear: both;
    padding: 24px 0;
  }
}


.view .views-exposed-widgets {

  margin: 10px 0 25px;

  #edit-date-filter-value-year {
    width: 100px;
  }
  #edit-type {
    width: 200px;
  }
  .form-submit {
    margin-top: -3px;
  }
}

/**
 * Messages
 */
.messages {
  border: 1px solid #fff;
  margin: 0 0 10px 0;
  min-height: 25px;
  padding: 10px 5px 5px 40px;
  @include border-radius();
  @include box-shadow(rgba(50, 0, 0, 0.5) 0 0 5px);
}
.messages pre {
  margin: 0;
}
.messages.status {
  background: #b6fab5 url(/misc/message-24-ok.png) 5px center no-repeat;
}
.messages.warning {
  background: #fff992 url(/misc/message-24-warning.png) 5px center no-repeat;
}
.messages.error {
  background: #fcc url(/misc/message-24-error.png) 5px center no-repeat;
}
/**
 * Devel
 */
li.krumo-footnote span.krumo-call {
  font-size: 8px !important;
}
li.krumo-footnote {
  overflow: hidden;
}
