/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

@import "base";

/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page {
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/*
 * Header
 */

#header {
  background: #fff;
  padding: 20px 0;
  position: relative;
}

#logo {
  float: left;
  margin: 0;
  padding: 0;

  img {
    vertical-align: bottom;
  }
}

#navigation {
  position: absolute;
  bottom: 0;
  right: 2em;
}

.region-header {
  clear: both;
}

/*
 * Main (container for everything else)
 */
#main {
}

/*
 * Content
 */
#content {
}

#hilighted {
  background: $studio_gray;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px 2px inset);
}

.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

h1.title,
h2.node-title,
h2.block-title,
h2.title,
h2.comment-form,
h3.title {
  margin: 0;
}

#eyebrow ul.menu,
ul.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 .5em;
  }
}

/**
 * Messages
 */
.messages {
  border: 1px solid #fff;
  margin: 0 0 10px 0;
  min-height: 25px;
  padding: 10px 5px 5px 40px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(50, 0, 0, 0.5);
}
.messages pre {
  margin: 0;
}
.messages.status {
  background: #b6fab5 url(/misc/message-24-ok.png) 5px center no-repeat;
}
.messages.warning {
  background: #fff992 url(/misc/message-24-warning.png) 5px center no-repeat;
}
.messages.error {
  background: #fcc url(/misc/message-24-error.png) 5px center no-repeat;
}
/**
 * Devel
 */
li.krumo-footnote span.krumo-call {
  font-size: 8px !important;
}
li.krumo-footnote {
  overflow: hidden;
}
