/**
 * @file
 * Views Styling
 */

@import "base";


/*
 * Views' admin tabs
 *
 * The views admin tabs use the same classes as the secondary tabs. We prevent
 * some of our tab styling from bleeding into (and breaking) the Views admin
 * pages. If your sub-theme isn't used for admin pages, you can remove this
 * entire section.
 */
.views-displays .secondary {
  li {
    float: none;
    margin: 0 6px 0;
  }

  a:link,
  a:visited {
    @include single-text-shadow(none);
    padding: 2px 7px 3px;
  }

  .open > a {
    @include border-radius(7px 7px 0 0);
    &:hover {
      color: #333;
    }
  }

  .action-list li {
    margin: 0;
    &:first-child {
      @include border-radius(0 7px 0 0);
    }
    &:last-child {
      @include border-radius(0 0 7px 7px);
    }
  }
}


.program-examples-view-header .countryicon {
  vertical-align: baseline;
  padding-left: 5px;
}
.program-examples-view-item-container {
  position: relative;
  width: 183px;
  height: 200px;
  overflow: visible;
}
.program-examples-view-field-screenshot,
.program-examples-view-preview-field-screenshot {
  width: 175px;
  height: 192px;
  border: 4px solid #ececec;
}
.program-examples-view-item-preview {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 415px;
  height: 215px;
  padding: 18px;
  background: #333;
  border: 1px solid #ddd;
}
.program-examples-view-preview-close {
  position: absolute;
  top: 7px;
  right: 7px;
  color: #62bcea;
  width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.program-examples-view-preview-field-screenshot {
  position: absolute;
  top: 18px;
  left: 18px;
}
.program-examples-view-item-preview-right {
  position: absolute;
  top: 18px;
  left: 218px;
  width: 215px;
  height: 210px;
  overflow: auto;
}
.program-examples-view-title a {
  color: #ccc;
  line-height: 19px;
  font-size: 19px;
  margin-bottom: 8px;
}
.program-examples-view-body {
  display: block;
  color: #fff;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 6px;
}
.program-examples-view-live-program-link a {
  color: #62bcea;
  line-height: 21px;
  font-size: 14px;
}


/** Media Kit **/

#block-views-media-kit-block-1 {
  padding-bottom: 10px;
  border-bottom: 4px solid #ccc;
}
#block-views-media-kit-block .block-title,
#block-views-media-kit-block-1 .block-title {
  color: #999;
  line-height: 20px;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}
#block-views-media-kit-block .view-header p,
#block-views-media-kit-block-1 .view-header p {
  margin: 20px 0;
}
#block-views-media-kit-block .views-row + h3,
#block-views-media-kit-block-1 .views-row + h3 {
  padding-top: 15px;
  border-top: 1px dotted #ccc;
}
#block-views-media-kit-block-1 .views-row-1 .media-kit-title-link,
#block-views-media-kit-block-1 .views-row-1 .media-kit-body {
  display: none;
}
#block-views-media-kit-block h3 {
  line-height: 16px;
  font-size: 16px;
  margin: 15px 0 15px;
}
#block-views-media-kit-block-1 h3 {
  display: none;
}
.media-kit-item-container {
  margin: 10px 0;
}
.media-kit-title-link {
  color: #999;
  line-height: 20px;
  font-size: 16px;
}
.media-kit-body {
  line-height: 20px;
  font-size: 14px;
}
.media-kit-file-container {
  margin: 5px 0 10px;
}
.media-kit-file-icon {
  vertical-align: middle;
  height: 36px;
}
.media-kit-file-link {
  padding-left: 10px;
}
























